body{background-color:#a7c5eb;;
}
section{
   background-color:lightgreen;
   margin-bottom:5px;
   margin-left:100px;
   margin-right:100px;
   padding-left:20px;
   padding-right:20px;
   height:900px
 }
